[Unit]
Description=Alambic Daemons
After=network.target

[Service]
Type=simple
User=alambic
PIDFile=/home/alambic/alambic/mojo/bin/hypnotoad.pid
ExecStartPre=/bin/bash --login -c 'env > /tmp/.magic-environment-file'
ExecStart=/home/alambic/perl5/perlbrew/perls/perl-5.24.2/bin/hypnotoad /home/alambic/alambic/mojo/bin/alambic
#ExecStartPost=/home/alambic/alambic/mojo/bin/alambic minion worker
ExecReload=/home/alambic/perl5/perlbrew/perls/perl-5.24.2/bin/hypnotoad /home/alambic/alambic/mojo/bin/alambic
ExecStop=/home/alambic/perl5/perlbrew/perls/perl-5.24.2/bin/hypnotoad -s /home/alambic/alambic/mojo/bin/alambic
#ExecStopPost=/bin/kill $(/home/alambic/alambic/mojo/bin/alambic minion job -w | /usr/bin/cut -d: -f2)
EnvironmentFile=-/tmp/.magic-environment-file
KillMode=process

[Install]
WantedBy=multi-user.target

